## Setup your DB values here :

export "FTV_DB_NAME"="froggedtv" # Your PostgreSQL Database
export "FTV_DB_USER"=froggedtv_juna # Your PostgreSQL Username
export "FTV_DB_PASSWORD"= # Your PostgreSQL Password
export "FTV_DB_HOST"="localhost" # Your PostgreSQL host
export "FTV_DB_PORT"="5432" # Your PostgreSQL port
