.emission__grid {
  margin-top: -13em;
}

.emission {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      var(--dark-grey),
      rgba(0, 0, 0, 0)
    ) 10;
  box-shadow: 0 0 2px 0 #000;
}

.emission + .emission {
  margin-top: 2em;
}

.emission__cover {
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.emission__info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em 1em 1em;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
}

.emission__title {
  font-size: 1.5em;
  background-color: var(--red);
  margin-left: -1em;
  margin-bottom: 1em;
  padding: 0.75em;
  display: inline-block;
}
