.stream {
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin-top: -5em;
}

.stream iframe {
  position: relative;
  top: 10em;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .stream {
    flex-direction: row;
    height: 507px;
  }

  .stream iframe {
    height: 100%;
    width: auto;
  }

  .stream__player {
    flex: 1;
  }
}
