:root {
  --black: #1c1c1c;
  --dark-grey: #575757;
  --grey: #999999;
  --light-grey: #e2e2e2;
  --white: #ffffff;

  --red: #e52207;

  --indigo: #292d42;

  --dark-blue: #162e51;
  --blue: #0050d8;
  --light-blue: #81aefc;
}

body {
  color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black);
  background-image: url('../images/background.jpg');
  background-position: top center;
  background-size: cover;
  font-family: 'Fira Sans';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "Rift-DemiItalic";
}

a, a:hover, a:visited {
  color: var(--white);
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.navbar {
  padding: 1em 0;
}

.navbar__container {
  flex-direction: row;
}

.navbar__home {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 50px;
}

.nav__items {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.nav__item {
  margin-left: 1em;
  text-shadow: 0;
  transition: text-shadow 0.2s ease-out;
}

.nav__item:hover {
  text-shadow: 0 0 10px var(--light-blue), 0 0 5px var(--white);
}

.nav__item--active {
  text-shadow: 0 0 10px var(--red), 0 0 5px var(--white);
}

.hero {
  min-height: 15em;
  display: flex;
  padding: 2em 0;
  align-items: center;
}

.hero.has-cover {
  padding-bottom: 12em;
}

.hero h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
}

main {
  flex-grow: 1;
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid #000;
  background-image: linear-gradient(150deg, var(--indigo), rgb(7, 9, 13));
  padding: 5em 0 5em;
  box-shadow: 0 0px 15px 0px #000;
}

footer {
  background-color: var(--black);
}

footer h2 {
  color: var(--white);
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: start;
}

footer li {
  flex-shrink: 1;
}

footer .icon {
  fill: var(--white);
  height: 50px;
  width: 50px;
}
