:root {
  --black: #000000;
  --dark-grey: #575757;
  --grey: #999999;
  --light-grey: #e2e2e2;
  --white: #ffffff;

  --red: #e52207;
  --light-red: #ff472b;

  --indigo: #292d42;

  --dark-blue: #162e51;
  --blue: #0050d8;
  --light-blue: #81aefc;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black);
  font-family: 'Fira Sans';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "Rift-BoldItalic";
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}


a, a:focus, a:visited {
  color: var(--red);
  text-decoration: none;
  border-bottom: 3px solid var(--red);
}

a:hover {
  border: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.navbar__container {
  flex-direction: row;
}

a.navbar__home {
  display: flex;
  align-items: center;
  border: 0;
}

.navbar__logo {
  height: 25px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-family: "Rift-Demi";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

.nav__items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-left: 0;
}

.nav__item {
  text-shadow: 0;
  transition: text-shadow 0.2s ease-out;
}

.nav__item + .nav__item {
  margin-left: 1em;
}

.nav__item:hover {
  text-shadow: 0 0 10px var(--light-red), 0 0 5px var(--white);
}

.nav__item a {
  color: var(--white);
  border: 0;
}

.nav__item--active a {
  color: var(--red);
}

.hero {
  min-height: 10em;
  display: flex;
  align-items: end;
}

.hero h1 {
  font-size: 3em;
  color: var(--white);
  margin-bottom: 0.5em;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  box-shadow: 0 0px 15px 0px #000;
  background: var(--white);
}

footer {
  background-color: var(--black);
}

footer h2 {
  color: var(--white);
  font-size: 1.5em;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: start;
}

footer li {
  flex-shrink: 1;
}

footer li + li {
  margin-left: 1em;
}

footer .icon {
  fill: var(--white);
  height: 30px;
  width: 30px;
}
