:root {
  --black: #1c1c1c;
  --dark-grey: #575757;
  --grey: #999999;
  --light-grey: #e2e2e2;
  --white: #ffffff;

  --red: #e52207;

  --indigo: #292d42;

  --dark-blue: #162e51;
  --blue: #0050d8;
  --light-blue: #81aefc;
}

body {
  color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black);
  font-family: 'Fira Sans';
}

a, a:hover, a:visited {
  color: var(--white);
  text-decoration: none;
}

.navbar {
  padding: 1em 0;
}

.navbar__logo {
  height: 50px;
}

main {
  flex-grow: 1;
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid #000;
  background-image: linear-gradient(150deg, var(--indigo), rgb(7, 9, 13));
  padding: 15em 0 5em;
  box-shadow: 0 0px 15px 0px #000;
}

footer {
  background-color: var(--black);
}

footer h2 {
  color: var(--white);
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: start;
}

footer li {
  flex-shrink: 1;
}

footer .icon {
  fill: var(--white);
  height: 50px;
  width: 50px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
