<nav>
  <ul class="dashboard__menu">
    <li class="menu__item{% if request.path == '/posts' %} menu__item--active{% endif %}">
      <a href="{% url 'posts_index' %}">Articles</a>
    </li>
    <li class="menu__item{% if request.path == '/users' %} menu__item--active{% endif %}">
      <a href="{% url 'users_index' %}">Utilisateurs</a>
    </li>
    <li class="menu__item{% if request.path == '/teams' %} menu__item--active{% endif %}">
      <a href="{% url 'teams_index' %}">Teams</a>
    </li>
  </ul>
</nav>
