{% extends 'layouts/main.html' %}
{% load static %}
{% load martortags %}

{% block extracss %}
  <link href="{% static 'css/emission.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block hero %}
  <div class="hero{% if emission.cover %} has-cover{% endif %}">
    <div class="container">
      <h1>{{ emission.title }}</h1>
      <p class="text-center emission__meta">{{ emission.description }}</p>
    </div>
  </div>
{% endblock hero %}

{% block content %}
  <div class="container">
    {% if emission.cover %}
    <div class="cover">
      <img src="{{ emission.cover.url }}" alt ="{{ emission.title }}" />
    </div>
    {% endif %}
    <div class="markdown">
      {{ emission.text|safe_markdown }}
    </div>
  </div>
{% endblock content%}
