{% extends 'layouts/main.html' %}
{% load static %}

{% block extracss %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
  <link href="{% static 'css/post.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block hero %}
  <div class="container">
    <div class="stream">
      <iframe class="stream__player" src="https://player.twitch.tv/?channel=froggedtv" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
      <iframe class="stream__chat" src="https://www.twitch.tv/embed/froggedtv/chat" frameborder="0" scrolling="no" height="500" width="350"></iframe>
    </div>
  </div>
{% endblock hero %}

{% block content %}
  <div class="container">
    <h2>News</h2>
    <div class="post__grid">
      {% for post in posts %}
        {% include 'partials/post.html' with post=post %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
