{% extends 'layouts/main.html' %}
{% load static %}
{% load martortags %}

{% block extracss %}
  <link href="{% static 'css/posts.css' %}" rel="stylesheet">
  <link href="{% static 'css/post-item.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block hero %}
  <div class="hero has-cover">
    <div class="container">
      <h1>News</h1>
    </div>
  </div>
{% endblock hero %}

{% block content %}
  <div class="container">
    <div class="post__grid">
      {% for post in posts %}
        {% include 'partials/post.html' with post=post %}
      {% endfor %}
    </div>
  </div>
{% endblock content%}
