{% extends 'layouts/main.html' %}
{% load static %}

{% block extracss %}
  <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <form method="post" class="form__container">
    <h2>Création du compte</h2>
    {% csrf_token %}
    <div class="form__group">
      <a href="{% url 'login' %}">J’ai déjà un compte</a>
    </div>
    {% for field in form %}
    <div class="form__group">
      <label>
        {{ field.label_tag }}
      </label>
      {{ field }}
      {% for error in field.errors %}
        <small class="error">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="button">Créer mon compte</button>
  </form>
</section>
{% endblock content %}
