{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block extracss %}
  <link href="{% static 'css/users.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <h2>Utilisateurs</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Pseudo</th>
        <th>E-mail</th>
        <th>Date d’inscription</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_joined }}</td>
        <td>
          <a class="button" href="{% url 'user_edit' pk=user.pk %}">modifier</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}
