:root {
  --black: #000000;
  --dark-grey: #575757;
  --grey: #999999;
  --light-grey: #e2e2e2;
  --white: #ffffff;

  --red: #e52207;
  --light-red: #ff472b;

  --indigo: #292d42;

  --dark-blue: #162e51;
  --blue: #0050d8;
  --light-blue: #81aefc;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black);
  font-family: 'Fira Sans';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "Rift-BoldItalic";
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}


a, a:focus, a:visited {
  color: var(--red);
  text-decoration: none;
  border-bottom: 3px solid var(--red);
}

a:hover {
  border: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  box-shadow: 0 0px 15px 0px #000;
  background: var(--white);
}

footer {
  background-color: var(--black);
}

footer h2 {
  color: var(--white);
  font-size: 1.5em;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: start;
}

footer li {
  flex-shrink: 1;
}

footer li + li {
  margin-left: 1em;
}

footer a {
  border: 0;
}

footer .icon {
  fill: var(--white);
  height: 30px;
  width: 30px;
}

input,
textarea,
select {
  width: 100%;
  outline: none;
  padding: 0.5em 0.875em;
  font: inherit;
  line-height: 1.6;
  color: var(--black);
  border-radius: 1em 0 1em 0;
  border: 1px solid var(--grey);
  background: var(--theme-background-white);
  vertical-align: middle;
  position: relative;
}

table {
  width: 100%;
  border: 1px solid var(--black);
  border-collapse: collapse;
}

th {
  background: var(--black);
  color: white;
}

th,
td {
  border: 1px solid var(--black);
  padding: 0.25em 0.5em;
  font-size: 0.75em;
}
